footer{
    margin-top: auto;
}

#footer-container{
    background-color:#4B4B4B;
    padding: 1.5em 0 2em 0;
}

#footer-header-text{
    color: #fff;
    font-weight: 500;
    font-size: 14px;
    text-align: center;
}